{% load i18n %}
{% load l10n %}
<table style="width:100%">
    <tr>
        <th class="table-left-align table-width-8">
            {% trans 'Month' %}
        </th>
        <th class="table-left-align table-width-6">
            {% trans 'Current' %}
        </th>
        <th class="table-left-align table-width-6">
            {% trans 'Last year' %}
        </th>
        <th class="table-left-align table-width-6">
            {% trans 'Compare value' %}
        </th>
        <th class="table-width-74">
        </th>
    </tr>
    {% for row in data %}
    <tr>
        <td style="text-align: left">
            {{ row.date |date:"F y" }}
        </td>
        <td style="text-align: right; white-space: nowrap">{{ row.actual }}&nbsp;kWh{% if row.actual_m3 %} ({{ row.actual_m3|floatformat:2 }}&nbsp;m³){% endif %}</td>
        <td style="text-align: right">{% if row.year_before is not None %}{{ row.year_before }} kWh{% endif %}</td>
        <td style="text-align: right">{{ row.compare }} kWh</td>
        <td  class="percentage">
                <div class="w" style="width:{{ row.compare_percent | stringformat:".1f" }}%"></div>
                <div class="k" style="width:{{ row.actual_percent | stringformat:".1f" }}%"></div>
        </td>
    </tr>
    {% endfor %}
</table>
